.g-btmbar {
  position: fixed;
  _position: absolute;
  zoom: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  z-index: 1002;
}
.m-playbar {
  position: absolute;
  zoom: 1;
  top: -53px;
  left: 0;
  width: 100%;
  height: 53px;
  margin: 0 auto;
}
.m-playbar .updn .left,
.m-playbar .updn .right,
.m-playbar .updn .btn,
.m-playbar .bg,
.m-playbar .btns a,
.m-playbar .head .mask,
.m-playbar .icn,
.m-playbar .ctrl,
.m-playbar .tip,
.m-vol .curr,
.m-playbar .words .mv,
.m-vol .barbg,
.m-playbar .words .src {
  background: url(https://s2.music.126.net/style/web2/img/frame/playbar.png?e2ca7bb726d8a6e6897a0dd5ec79d813) no-repeat 0 9999px;
}
.m-playbar .bg {
  height: 53px;
  zoom: 1;
  margin-right: 67px;
  background-position: 0 0;
  background-repeat: repeat-x;
}
.m-playbar .hand {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.m-playbar .wrap {
  position: absolute;
  left: 50%;
  top: 6px;
  z-index: 15;
  width: 980px;
  height: 47px;
  margin: 0 auto;
  margin-left: -490px;
}
.m-playbar .updn {
  position: relative;
  z-index: 11;
}
.m-playbar .updn .left {
  position: absolute;
  top: -14px;
  right: 15px;
  width: 52px;
  height: 67px;
  background-position: 0 -380px;
}
.m-playbar .updn .right {
  position: absolute;
  top: -1px;
  right: 0;
  width: 15px;
  height: 54px;
  background-position: -52px -393px;
  pointer-events: none;
}
.m-playbar .updn .btn {
  display: block;
  width: 18px;
  height: 18px;
  margin: 6px 0 0 17px;
}
.m-playbar-lock .updn .btn {
  background-position: -100px -380px;
}
.m-playbar .btns,
.m-playbar .head,
.m-playbar .play,
.m-playbar .volum,
.m-playbar .oper {
  float: left;
}
.m-playbar .btns {
  width: 137px;
  padding: 6px 0 0 0;
}
.m-playbar .head {
  position: relative;
  *zoom: 1;
  margin: 6px 15px 0 0;
}
.m-playbar .head,
.m-playbar .head img {
  width: 34px;
  height: 34px;
}
#g_player .play {
  width: 581px;
}
.m-playbar .play {
  position: relative;
  *zoom: 1;
  width: 608px;
}
#g_player .oper {
  width: 87px;
}
.m-playbar .ctrl {
  position: relative;
  z-index: 10;
  width: 113px;
  padding-left: 13px;
  background-position: -147px -238px;
}
.m-playbar .btns .prv {
  background-position: 0 -130px;
}
.m-playbar .btns a {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  margin-top: 5px;
  text-indent: -9999px;
}
.m-playbar .btns .ply {
  width: 36px;
  height: 36px;
  margin-top: 0;
  background-position: 0 -204px;
}
.m-playbar .btns .nxt {
  background-position: -80px -130px;
}
.m-playbar .head,
.m-playbar .head img {
  width: 34px;
  height: 34px;
}
.m-playbar .head .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 34px;
  height: 35px;
  background-position: 0 -80px;
}
.m-playbar .words {
  height: 28px;
  overflow: hidden;
  color: #e8e8e8;
  text-shadow: 0 1px 0 #171717;
  line-height: 28px;
}
#g_player .play .m-pbar,
#g_player .play .m-pbar .barbg {
  width: 466px;
}
.m-pbar .barbg,
.m-pbar .cur,
.m-pbar .rdy,
.m-pbar .left {
  background: url(https://s2.music.126.net/style/web2/img/frame/statbar.png?cdcae31ed2cb6128c931a79bce7edac5) no-repeat 0 9999px;
}
.m-pbar .barbg,
.m-pbar .cur,
.m-pbar .rdy {
  height: 9px;
  background-position: right 0;
}
.m-pbar .time {
  position: absolute;
  top: -3px;
  right: -84px;
  color: #797979;
  text-shadow: 0 1px 0 #121212;
}
.m-pbar .rdy {
  background-position: right -30px;
}
.m-pbar .cur {
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  background-position: left -66px;
}
.m-pbar .btn,
.m-vol .btn {
  background: url(https://s2.music.126.net/style/web2/img/iconall.png?eafad7d22db0887dca6502c92c06f8c4) no-repeat;
}
.m-pbar .btn {
  position: absolute;
  top: -7px;
  right: -13px;
  width: 22px;
  height: 24px;
  margin-left: -11px;
  background-position: 0 -250px;
  _background-position: 0 0;
}
.m-pbar .btn i {
  visibility: hidden;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: url(https://s2.music.126.net/style/web2/img/outchain/loading.gif?ffb60c60dddfc54a892f7ecb59365bf6);
}
.m-pbar .z-load i {
  visibility: visible;
  cursor: default;
}
.m-pbar {
  position: relative;
  *zoom: 1;
}
.m-pbar .time em {
  color: #a1a1a1;
}
.m-playbar .icn-pip {
  position: relative;
  background: url(https://p1.music.126.net/DLVi_1eymwAX8gDunfd2bg==/109951165524394991.png) no-repeat 0 0;
}
.m-playbar .icn {
  float: left;
  width: 25px;
  height: 25px;
  margin: 11px 2px 0 0;
  text-indent: -9999px;
}
.m-playbar .icn-add {
  background-position: -88px -163px;
}
.m-playbar .icn-share {
  background-position: -114px -163px;
}
.f-fl {
  float: left;
}
.m-vol {
  position: absolute;
  top: -113px;
  left: 9px;
  clear: both;
  width: 32px;
  height: 113px;
}
.m-playbar .icn-vol {
  background-position: -2px -248px;
}
.m-playbar .icn-loop {
  background-position: -3px -344px;
}
.m-playbar .icn-list {
  display: block;
  float: none;
  width: 38px;
  padding-left: 21px;
  background-position: -42px -68px;
  line-height: 27px;
  text-align: center;
  color: #666;
  text-shadow: 0 1px 0 #080707;
  text-indent: 0;
  text-decoration: none;
}
.m-playbar .tip {
  display: none;
  position: absolute;
  top: -51px;
  left: -65px;
  clear: both;
  width: 152px;
  height: 49px;
  background-position: 0 -287px;
  text-align: center;
  color: #fff;
  line-height: 37px;
}
.m-playbar .tip-1 {
  display: none;
  top: -35px;
  left: 12px;
  width: 81px;
  height: 39px;
  line-height: 34px;
  background-position: 0 -457px;
}
.f-pr {
  position: relative;
  zoom: 1;
}
.m-playbar .add {
  float: left;
  width: 59px;
  height: 36px;
}
.m-playbar .btns .prv:hover {
  background-position: -30px -130px;
}
.m-playbar .btns .ply:hover {
  background-position: -40px -204px;
}
.m-playbar .icn-pip:hover,
.m-playbar .icn-pip.active {
  background-position-y: -25px;
}
.m-playbar .icn-add:hover {
  background-position: -88px -189px;
}
.m-playbar .icn-share:hover {
  background-position: -114px -189px;
}
.m-playbar .icn-vol:hover {
  background-position: -31px -248px;
}
.m-playbar .icn-loop:hover {
  background-position: -33px -344px;
}
.m-playbar .icn-list:hover {
  background-position: -42px -98px;
  text-decoration: none;
}
.m-playbar-lock .updn .btn:hover {
  background-position: -100px -400px;
}
.m-playbar .words .fc1 {
  color: #e8e8e8;
}
.m-playbar .words .by {
  max-width: 220px;
  margin-left: 15px;
  color: #9b9b9b;
}
.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.m-playbar .words .by {
  max-width: 220px;
  margin-left: 15px;
  color: #9b9b9b;
}
.m-playbar .words .by a {
  color: #9b9b9b;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-slider {
  padding: 0;
  margin: 0;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-slider .ant-slider-handle::after {
  box-shadow: initial;
  border-radius: initial;
  position: absolute;
  top: -7px;
  right: -13px;
  width: 22px;
  height: 24px;
  margin-left: 0;
  _background-position: 0 0;
  background: url(https://s2.music.126.net/style/web2/img/iconall.png?eafad7d22db0887dca6502c92c06f8c4) no-repeat;
  background-position: 0 -250px;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-slider .ant-slider-rail {
  background: url(https://s2.music.126.net/style/web2/img/frame/statbar.png?cdcae31ed2cb6128c931a79bce7edac5) no-repeat;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-slider-horizontal .ant-slider-rail {
  height: 9px;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-slider .ant-slider-track {
  background: url(https://s2.music.126.net/style/web2/img/frame/statbar.png?cdcae31ed2cb6128c931a79bce7edac5) no-repeat;
  background-position: left -66px;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-slider-horizontal .ant-slider-track,
:where(.css-dev-only-do-not-override-42nv3w).ant-slider-horizontal .ant-slider-tracks {
  height: 9px;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-slider .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-42nv3w).ant-slider .ant-slider-handle:active::after,
:where(.css-dev-only-do-not-override-42nv3w).ant-slider .ant-slider-handle:focus::after {
  width: initial;
  height: initial;
  inset-inline-start: initial;
  inset-block-start: initial;
  box-shadow: initial;
  border-radius: initial;
  position: absolute;
  top: -7px;
  right: -13px;
  width: 22px;
  height: 24px;
  margin-left: 0;
  _background-position: 0 0;
  background: url(https://s2.music.126.net/style/web2/img/iconall.png?eafad7d22db0887dca6502c92c06f8c4) no-repeat;
  background-position: 0 -250px;
}
.m-playbar .btns .pas {
  background-position: 0 -165px;
}
.m-playbar .btns .pas:hover {
  background-position: -40px -165px;
}
.m-playbar .btns .nxt:hover {
  background-position: -110px -130px;
}
.m-playbar .icn-one {
  background-position: -66px -344px;
}
.m-playbar .icn-one:hover {
  background-position: -93px -344px;
}
.m-playbar .icn-shuffle {
  background-position: -66px -248px;
}
.m-playbar .icn-shuffle:hover {
  background-position: -93px -248px;
}
.m-nav a:hover,
.m-nav a.z-slt {
  background: #000;
  text-decoration: none;
  color: #fff;
}
